<link rel="stylesheet" type="text/css" href="/public/dist/css/signin.css">

<div class="page-left">
	<img src="public/images/static/signup.jpg" alt="signup" width="400" height="300" />
</div>
<div class="page-right">
	<h2>用户登录</h2>
	<div class="login-form">
		<div class="login-item">
			<input type="text" id="loginname" name="email" placeholder="登录名" />
		</div>
		<div class="login-item">
			<input type="password" id="password" name="password" placeholder="登录密码："/>
		</div>
		<span class="login-tips"></span>
		<div class="login-link">
			<a href="/signup">注册</a>
			 <!-- ／  -->
			<!-- <a href="/user/forgot-password">忘记密码？</a> -->
		</div>
	</div>

	<input type="button" id="login-btn" value="确定" />
</div>

<script type="text/javascript" src="/public/dist/js/pages/signin.js"></script>