<link rel="stylesheet" type="text/css" href="/public/dist/css/signup.css">


<div class="page-left">
	<img src="public/images/static/signup.jpg" alt="signup" width="400" height="300" />
</div>
<div class="page-right">
	<h2>用户注册</h2>
	<div class="login-form">
		<div class="login-item">
			<input type="text" id="loginname" name="loginname" placeholder="登录名" />
		</div>
		<div class="login-item">
			<input type="text" id="email" name="email" placeholder="邮箱" />
		</div>
		<div class="login-item">
			<input type="password" id="password" name="password" placeholder="密码："/>
		</div>
		<div class="login-item">
			<input type="password" id="re-password" name="re-password" placeholder="再次输入密码"/>
		</div>
		<span class="signup-tips"></span>
		<div class="login-link">
			<a href="/signin">登录</a>
			 <!-- ／  -->
			<!-- <a href="/user/forgot-password">忘记密码？</a> -->
		</div>
	</div>

	<input type="button" id="signup-btn" value="确定" />
</div>

<script type="text/javascript" src="/public/dist/js/pages/signup.js"></script>