extends layout

block content
	div#chat-left
		div(class="panel panel-primary")
			div(class="panel-heading")
				h2(class="panel-title", id="chat-person") Live-Chat
				
			div(class="panel-body")
				div(class="chat-body", id="chat-panel")
					if chats
						ul(id="chat-list")
							each chat in chats					
								li
									span(class="userName")=chat.userName    
									span(class="time")=chat.time
									br
									span(class="message")=chat.message



			div(class="panel-footer")
				div(class="input-group")
					span(class="input-group-btn")
						button(class="btn btn-default", type="button") Emoji
					input(class="form-control", id="chat-input", type="text",placeholder="请输入聊天内容") 
					span(class="input-group-btn")
						button(class="btn btn-default", type="button") Send

	div#chat-right
		div.chat-list
			div.user-name
				div(class="panel panel-success")
					div(class="panel-heading")
						span(class="glyphicon glyphicon-user")   nickName
					div(class="panel-body")
						if user
							span(id="my-name")= user.name
						else
							span(id="my-name")
								
			div.user-list
				div(class="panel panel-success")
					div(class="panel-heading")
						span(class="glyphicon glyphicon-user")   liveUser
					div(class="panel-body")
						ul(id="live-user")
		
