extends layout

block content
	div(class="panel panel-success")
		div(class="panel-heading")
			h2(class="panel-title") Live-Chat
			
		div(class="panel-body")
			div.chat-body
				if chats
					for chat in chats
						span= chat.message
						br
				ul(id="chat-list")
			div.chat-list
				div.user-name
					if user
						span(id="my-name")= user.name
					else
						span(id="my-name")
				div.user-list 
					ul(id="live-user")
						
		div(class="panel-footer")
			div(class="input-group")
				span(class="input-group-btn")
					button(class="btn btn-default", type="button") Emoji
				input(class="form-control", id="chat-input", type="text",placeholder="请输入聊天内容") 
				span(class="input-group-btn")
					button(class="btn btn-default", type="button") Send

		
