extends layout

block content
	a(href="/login/github") 使用Github登录
	div#sign
		div.user-list
			div(class="panel panel-primary")
				div(class="panel-heading")
					span(class="glyphicon glyphicon-user")   Login
				div(class="panel-body")
					form(rol="from",method="post")
						if error
							div(class="alert alert-danger", role="alert")= error
						if success
							p= success
						div.form-group
							label(for="exampleInputEmail1") nickName
							input(type="text", class="form-control", id="exampleInputEmail1", placeholder="nickName", name="nickName")
						div.form-group
							label(for="exampleInputPassword1") passWord
							input(type="password", class="form-control", id="exampleInputPassword1", placeholder="passWord", name="passWord")
							button(type="submit", class="btn btn-primary") Login
