extends layout

block content
	div#sign
		form(rol="from",method="post")
			if error
				p= error
			div.form-group
				label(for="exampleInputEmail1") nickName
				input(type="text", class="form-control", id="exampleInputEmail1", placeholder="nickName", name="nickName")
			div.form-group
				label(for="exampleInputPassword1") passWord
				input(type="password", class="form-control", id="exampleInputPassword1", placeholder="passWord", name="passWord")
				button(type="submit", class="btn btn-success") Regist