extends layout

block content
	div#sign

		div.user-list
			div(class="panel panel-primary")
				div(class="panel-heading")
					span(class="glyphicon glyphicon-user")   用户注册
				div(class="panel-body")
					form(rol="from",method="post")
						if error
							div(class="alert alert-danger", role="alert")= error
						if success
							p= success
						div.form-group
							label(for="exampleInputName") 昵称
							input(type="text", class="form-control", id="exampleInputName", placeholder="请输入昵称", name="nickName")
						div.form-group
							label(for="exampleInputEmail") 邮箱
							input(type="text", class="form-control", id="exampleInputEmail", placeholder="请输入邮箱", name="email")
						div.form-group
							label(for="exampleInputPassword1") 密码
							input(type="password", class="form-control", id="exampleInputPassword1", placeholder="请输入密码", name="passWord")
							button(type="submit", class="btn btn-primary") 注册
