extends layout

block content
	div#sign

		div.user-list
			div(class="panel panel-primary")
				div(class="panel-heading")
					span(class="glyphicon glyphicon-user")   Regist
				div(class="panel-body")
					form(rol="from",method="post")
						if error
							div(class="alert alert-danger", role="alert")= error
						if success
							p= success
						div.form-group
							label(for="exampleInputName") nickName
							input(type="text", class="form-control", id="exampleInputName", placeholder="nickName", name="nickName")
						div.form-group
							label(for="exampleInputEmail") email
							input(type="text", class="form-control", id="exampleInputEmail", placeholder="email", name="email")
						div.form-group
							label(for="exampleInputPassword1") passWord
							input(type="password", class="form-control", id="exampleInputPassword1", placeholder="passWord", name="passWord")
							button(type="submit", class="btn btn-primary") Regist

