@charset "GBK";
* {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

html, body {
  height: 100%;
  width: 100%; }

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /*IE6不识别min-height*/
  position: relative; }

#main {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 50px; }

header {
  width: 100%;
  height: 50px; }
  header #header {
    width: 960px; }

footer {
  width: 100%;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0; }

#chat-left {
  width: 70%; }
  #chat-left #chating-user {
    display: none; }
  #chat-left .panel {
    width: 100%;
    float: left;
    height: 400px; }
  #chat-left .panel {
    height: 100%; }
  #chat-left .panel-body {
    height: 325px; }
  #chat-left .panel-footer {
    padding: 0; }
  #chat-left .input-group {
    width: 100%; }
  #chat-left .chat-list {
    width: 100%;
    float: left;
    height: 100%; }
    #chat-left .chat-list .user-name {
      height: 80px;
      margin-bottom: 10px; }
    #chat-left .chat-list .user-list {
      height: 320px; }

.load-more {
  cursor: pointer; }

.load-more:hover {
  text-decoration: none; }

#chat-left.is-chating #chating-user {
  width: 6%;
  float: left;
  display: block;
  height: 400px; }
  #chat-left.is-chating #chating-user ul li {
    cursor: pointer;
    height: 40px;
    position: relative;
    margin-bottom: 2px; }
    #chat-left.is-chating #chating-user ul li .close-chating {
      display: none;
      width: 15px;
      height: 15px;
      position: absolute;
      right: -5px;
      top: -5px; }
  #chat-left.is-chating #chating-user ul li:hover .close-chating {
    display: block; }
  #chat-left.is-chating #chating-user .gravatar {
    width: 40px;
    height: 40px;
    border-radius: 3px; }
  #chat-left.is-chating #chating-user .chat-user-name {
    display: block;
    width: 0;
    height: 0;
    opacity: 0; }
#chat-left.is-chating .panel {
  width: 93%;
  margin-left: 3px; }
#chat-left.is-chating .chat-now {
  border: solid red 1px; }

.gravatar {
  width: 40px;
  height: 40px;
  margin-right: 15px; }

#chat-right {
  width: 28%;
  float: left;
  margin-left: 2%; }
  #chat-right .user-list {
    margin-top: 20px; }
    #chat-right .user-list ul li {
      cursor: pointer;
      width: 100px;
      margin-top: 10px;
      position: relative; }
      #chat-right .user-list ul li .notice {
        right: 20px; }

ul li .notice {
  width: 15px;
  height: 15px;
  position: absolute;
  right: -5px;
  top: -5px;
  background-color: red;
  border-radius: 50%; }
  ul li .notice .notice-number {
    color: white;
    width: 15px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    position: absolute; }

#sign {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 50px; }
  #sign button {
    margin-right: 20px;
    margin-top: 20px; }
