$name-height: 80px;
$chat-height: 400px;


// chat-left style
#chat-left {
	width: 70%;
	float: left;
	height: $chat-height;
	.panel {
		height: 100%;
	}
	.panel-body {
		height: 325px;
		overflow: auto;
	}
	#chat-panel {
		overflow: auto;
	}
	.panel-footer {
		padding: 0;
	}
	.input-group {
		width: 100%;
	}
	.chat-list {
		width: 100%;
		float: left;
		height: 100%;
		.user-name {
			height: $name-height;
			margin-bottom: 10px;
		}
		.user-list {
			height: $chat-height - $name-height;
		}
	}
}

//chat-right style
#chat-right {
	width: 28%;
	float: left;
	margin-left: 2%;
	.user-list {
		margin-top: 20px;
		ul li {
			cursor: pointer;
		}
	}
}
