$padding : 50px;
$main-top: 50px;
* {
	margin: 0;
	padding: 0;
}
html,body {
	height: 100%;
}
#wrapper {
	min-height:100%;
	height: auto !important;
	height: 100%; /*IE6不识别min-height*/
	position: relative;
}
#main {
	width: 960px;
	margin: 0 auto;
	margin-top: $main-top;
	padding-bottom: $padding;
}

@import "./header.scss";
@import "./footer.scss";
@import "./chat.scss";
@import "./sign.scss";
